*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  height:100vh;
  justify-content:center;
  align-items:center;
  background:#252525;
  font-family:Arial, sans-serif;
}


/* ===== HEADER ===== */
header{
  padding:20px 10px;
  color: #000000;
  background-color: #ffffff;
}

header h1{
  text-align:center;
  font-size:32px;
  margin-bottom:20px;
}

/* ===== MENU ===== */
.menu{
  width:100%;
  background:#000;
}

.menu .submenu{
  display:flex;
  justify-content:center;
  gap:20px;
  list-style:none;
  padding:15px;
  flex-wrap:wrap;
}

.menu .submenu li a{
  display:block;
  padding:12px 20px;
  color:#ffffff;
  text-decoration:none;
  font-size:16px;
  border-radius:8px;
  transition:0.3s;
}

.menu .submenu li a:hover{
  background:#ffffff;
  box-shadow:0 5px 15px rgba(58,12,163,0.5);
}

.cadastro-container{
 margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background:#000000;
  padding:40px;
  width:100%;
  max-width:400px;
  border-radius:12px;
  box-shadow:0 10px 30px rgba(0,0,0,0.5);
  color:rgb(255, 255, 255);
}

.cadastro-container h2{
  text-align:center;
  margin-bottom:25px;
  color:#ffee00;
}

.cadastro-container label{
  display:block;
  margin-bottom:6px;
  font-size:14px;
}

.cadastro-container input{
  width:100%;
  padding:12px;
  margin-bottom:18px;
  border:none;
  border-radius:8px;
  outline:none;
  font-size:14px;
}

.cadastro-container button{
  width:100%;
  padding:12px;
  background:#0e0277;
  color:#ffee00;
  border:none;
  border-radius:8px;
  font-size:16px;
  cursor:pointer;
  transition:0.3s;
}

.cadastro-container button:hover{
  background:#3a0ca3;
}

.cadastro-container .link{
  text-align:center;
  margin-top:15px;
  font-size:14px;
}

.cadastro-container .link a{
  color:#ffee00;
  text-decoration:none;
}

.cadastro-container .link a:hover{
  text-decoration:underline;
}
