*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#fafafa;
  font-family:Arial, sans-serif;
}

header{
  border-radius: 15px 0px 0px 15px;
  padding:20px 10px;
  color: #ffffff;
    background:#0d0221;
}

header h1{
  text-align:center;
  font-size:32px;
  margin-bottom:20px;
}

/* ===== MENU ===== */
.menu{
  width:100%;
  background:#000000;
}

.menu .submenu{
  display:flex;
  justify-content:center;
  gap:20px;
  list-style:none;
  padding:15px;
  flex-wrap:wrap;
}

.menu .submenu li a{
  display:block;
  padding:12px 20px;
  color:#fbff00;
  text-decoration:none;
  font-size:16px;
  border-radius:8px;
  transition:0.3s;
}

.menu .submenu li a:hover{
  background:#d3d3d3;
  box-shadow:0 5px 15px rgba(57, 12, 163, 0.514);
}


.login-container{
  background:#0d0221;
  padding:40px;
  width:100%;
  max-width:360px;
  border-radius:12px;
  box-shadow:0 10px 30px rgba(0,0,0,0.5);
  color:white;
}

.login-container h2{
  text-align:center;
  margin-bottom:25px;
  color:#ffee00;
}

.login-container label{
  display:block;
  margin-bottom:6px;
  font-size:14px;
}

.login-container input{
  width:100%;
  padding:12px;
  margin-bottom:18px;
  border:none;
  border-radius:8px;
  outline:none;
  font-size:14px;
}

.login-container button{
  width:100%;
  padding:12px;
  background:#210277;
  color:#ffee00;
  border:none;
  border-radius:8px;
  font-size:16px;
  cursor:pointer;
  transition:0.3s;
}

.login-container button:hover{
  background:#3a0ca3;
}

.login-container .link{
  text-align:center;
  margin-top:15px;
  font-size:14px;
}

.login-container .link a{
  color:#ffee00;
  text-decoration:none;
}

.login-container .link a:hover{
  text-decoration:underline;
}
