*{
    margin:0;
    padding:0;
}
body{
    font-family:Arial, sans-serif;
    background-color:#000000;
    color:#eeff00;}
    
    h1{
        text-align:center;
        margin-top:20px;
        font-size: 50px;
    }