*{
    margin:0;
    padding:0;
}
body{
    font-family:Arial, sans-serif;
    background-color:#ffffff;
    color:#000000;}
    
header{
  padding:20px 10px;
  color: #000000;
  background-color: #ffffff;
}

header h1{
  text-align:center;
  font-size:32px;
  margin-bottom:20px;
}

/* ===== MENU ===== */
.menu{
  width:100%;
  background:#000;
}

.menu .submenu{
  display:flex;
  justify-content:center;
  gap:20px;
  list-style:none;
  padding:15px;
  flex-wrap:wrap;
}

.menu .submenu li a{
  display:block;
  padding:12px 20px;
  color:#ffffff;
  text-decoration:none;
  font-size:16px;
  border-radius:8px;
  transition:0.3s;
}

.menu .submenu li a:hover{
  background:#d3d3d3;
  box-shadow:0 5px 15px rgba(58,12,163,0.5);
}


    h1{
        text-align:center;
        margin-top:20px;
        font-size: 50px;
    }

.contact {
  max-width: 600px;
  margin: 60px auto;
  padding: 40px;
  background-color: #000;
  color: #ffee00;
  text-align: center;
  border-radius: 12px;
}

.contact h2 {
  margin-bottom: 20px;
  font-size: 28px;
}

.contact p {
  margin-bottom: 25px;
  font-size: 16px;
}

.btn-email {
  display: inline-block;
  padding: 12px 25px;
  background: #ffee00;
  color: #000;
  font-weight: bold;
  text-decoration: none;
  border-radius: 8px;
  transition: 0.3s;
}

.btn-email:hover {
  background: #fff;
  transform: scale(1.05);
}

