* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  color: white;
    background: linear-gradient(135deg, #000000, #000000);
}

/* HEADER */
header {
  height: 8rem;
  background: linear-gradient(185deg, #040288, #000000);
  padding: 15px;
  text-align: center;
}

header h1 {
  font-size: 32px;
  margin-top: 20px;
}

/* NAV */
nav {
    border-bottom: 5px solid #ffee00;
    display: flex;
  justify-content: center;
  gap: 20px;
  font-weight: bold;
  padding: 22px;
  background: linear-gradient(349deg, #040288, #000000);
}

nav a {
    border-radius: 7px;
    padding: 10px;
    background: #2c2c2c;
    color: white;
  text-decoration: none;
  font-size: 16px;
}

nav a:hover {
  text-decoration: dotted;
  color: #eeff00;
}

/* FILTRO */
.filtro {
  background: linear-gradient(135deg, #000000, #000000);
    padding: 10px;
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
  list-style: none;
}

details summary {
  cursor: pointer;
  font-size: 16px;
    padding: 7px;
    background: #003af8f5;
    border-radius: 6px;
}

details summary::-webkit-details-marker {
  display: none;
}

.submenu {
  margin-top: 8px;
  list-style: none;
  background: #000000;
  padding: 8px;
  border-radius: 6px;
}

.submenu li a {
  display: block;
  padding: 5px;
  color: white;
  text-decoration: none;
}

.submenu li a:hover {
  background: #3a3939;
}

/* SEÇÕES */
.selecao-produtos {
  margin-top: 50px;
  padding: 40px;
  background-color: #0d0053;
  border-radius: 10px;
}

/* LISTA */
.lista-produtos {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 15px;
}

/* CARD */
.produto {
    border-bottom: 6px solid #ffee00;
    border-top: 10px solid #ffee00;
  background: #030303;
  color: #eeff00;
font-weight: bold;
  border-radius: 10px;
  width: 99%;
  height: auto;
  padding: 10px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.produto:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

/* IMAGEM */
.produto img {
    padding: 10px;
  width: 100%;
  max-height: 250px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.produto:hover img {
  transform: scale(1.08);
}

/* TEXTO */
.produto p {
  margin-top: 8px;
  font-size: 19px;
  text-decoration: none;
}

/* FOOTER */
footer {
  background: #000;
  padding: 20px;
  text-align: center;
}