body{
    background: linear-gradient(135deg, #000000, #3a0ca3);
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 10px;
    
    box-sizing: border-box;
}
header{
    background: linear-gradient(135deg, #000855, #3a0ca3);
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 25px;
    text-decoration: double;
}
nav{
    background: linear-gradient(135deg, #000000, #3a0ca3);

    margin-top: 10px;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
}
nav a{
    color: white;
    text-decoration: none;
    margin: 10px;
    font-size: 18px;
}
nav a:hover{
    text-decoration: underline;
}
section{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}
.li{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;}

.lista-produtos {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 0;
}

.produto {
    background: #f5f5f5;
    padding: 10px;
    width: 200px;
    text-align: center;
    border-radius: 8px;
}

.produto img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.produtos h2{
    color: azure;
    text-align: center;
    margin-bottom: 20px;
}
.produtos{
    margin-top: 20px;
    padding: 20px;
    background: linear-gradient(135deg, #000000, #3a0ca3);
    border-radius: 8px;
}

