* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
     background:#210277;
  color: rgb(255, 238, 0);
}

/* HEADER */
header h1 {
  text-align: center ;
  font-size: 32px;
  margin-top: 20px;
}

/* ===== MENU PRINCIPAL HORIZONTAL ===== */
.menu{
  margin-top: 40px;
  margin-bottom: 40px;
  width:100%;
  display:flex;
  justify-content:center;
  background-color:#000000;
}

.menu .submenu{
  display:flex;            
  gap:20px;                  
  list-style:none;
  padding:0;
  margin:0;
}

.menu .submenu li a{
  display:block;
  padding:12px 20px;
  color:rgb(255, 255, 255);
  text-decoration:none;
  font-size:16px;
  border-radius:8px;
  transition:0.3s;
  background-color:transparent;
}

.menu .submenu li a:hover{
  background-color:#3a0ca3;
  box-shadow:0 5px 15px rgba(58,12,163,0.5);
}


/* CONTAINER */
.container {
  max-width: 1200px;
  margin: auto;
  padding: 15px;
}

/* SEÇÕES */
.produtos {
  margin-top: 25px;
  padding: 15px;
  background: linear-gradient(135deg, #340086, #3a0ca3);
  border-radius: 10px;
}

.produtos h2 {
  text-align: center;
  margin-bottom: 15px;
  color: #fbff00;
}

/* LISTA */
.lista-produtos {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 15px;
}

/* CARD */
.produto {
  background: #000000;
  color: #eeff00;
font-weight: bold;
  border-radius: 10px;
  width: 99%;
  height: auto;
  padding: 10px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.produto:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

/* IMAGEM */
.produto img {
    padding: 10px;
  width: 100%;
  max-height: 250px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.produto:hover img {
  transform: scale(1.08);
}

/* TEXTO */
.produto p {
  margin-top: 8px;
  font-size: 14px;
  line-height: 1.4;
}

footer {
  background: #000000;
  padding: 30px;
  color: #ffffff;
  text-align: center;
  margin-top: 40px;
}
